.logo-container {
  z-index: 5;
  width: 600px;
  height: 609px;
  position: absolute;
  top: 0;
  right: 15%; /* Lo movemos más a la izquierda */
  bottom: 0;
  left: auto;
  margin: auto;
  animation: fadeIn 2s ease-in-out forwards;

  svg {
    width: 100%;
    height: auto;
    bottom: 0;
  }

  .solid-logo {
    position: absolute;
    top: auto;
    right: auto;
    bottom: auto;
    left: 0;
    margin: auto;
    width: 100%;
    opacity: 0;
    z-index: 1;
    animation: rotateIn 1s linear both;
    animation-delay: 1.4s;
  }

  
}

/* Animación de fadeIn */
// @keyframes rotateIn {
//   from {
//     transform: rotate(-180deg);
//     opacity: 0;
//   }
//   to {
//     transform: rotate(0);
//     opacity: 1;
//   }
// }
